*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 107vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width:200px;
    float: left;
    height: 70px;
}

.logo{
    color:coral;
    font-size :35 px;;
    font-family:Arial;
    padding-left: 2px;
    float: left;
    padding-top: 30px;
}
.menu{
width :400px;
float: left;
height:70px;

}
ul{
    float: left;
    display:flex;
    justify-content:center;
    align-items: center;
    
}
ul li{
     list-style: none;
     margin-left: 265px;
     margin-top: 27px;
     font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:coral
    ;
}

.content{
    width: 1200px;
    height: auto;
    margin:auto;
    color:coral;
    position:relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 9px;
    line-height: 4px;
    
}
.content .par1{

    padding-left: 20px;
    padding-bottom:25px ;
    font-family: cursive;
    letter-spacing:4px ;
    line-height:160px;
    font-size: 25px;
    color:peru;
    transition: 0.1s ease-in-out;
    
}
.content .par1:hover{
    color: coral;
}


.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top:12%;
    letter-spacing: 2px;

}


.content .cn{
    width: 160px;
    height: 40px;
    color: white;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 550px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    
}

    
    


